---
import Layout from '~/layouts/Layout.astro';
import Section from '~/components/Section.astro';
import Container from '~/components/Container.astro';
---

<Layout>
	<Section>
		<Container>
			<div
				class="min-h-[calc(100svh_-_24rem)] lg:min-h-[calc(100svh_-_30rem)] mx-auto w-full max-w-4xl text-center">
				<p class="text-pink-500 font-extrabold text-8xl tracking-tight">404</p>
				<h1
					class="mt-6 text-4xl font-bold text-balance text-gray-800 lg:text-5xl">
					Ups... ¡Parece que esta corona no está aquí!
				</h1>
				<p class="mt-4 text-lg text-gray-600">
					La página que buscás no existe o fue movida. Pero no te preocupes,
					siempre podés volver al inicio y seguir brillando ✨
				</p>
				<div class="mt-10">
					<a
						href="/"
						class="inline-flex items-center gap-2 rounded-full bg-pink-500 text-white px-6 py-3 font-semibold shadow hover:bg-pink-600 transition">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="size-5"
							fill="none"
							viewBox="0 0 24 24"
							stroke="currentColor">
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M3 12l7-7m0 0l7 7m-7-7v18"></path>
						</svg>
						Volver al inicio
					</a>
				</div>
			</div>
		</Container>
	</Section>
</Layout>
