---
import type { ImageMetadata } from 'astro:assets';

// Cargar todas las imágenes como módulos estáticos
const logos: Record<string, ImageMetadata> = import.meta.glob(
	'/src/assets/images/sponsor/*.{jpg,jpeg,png,webp}',
	{
		eager: true,
		import: 'default',
	}
);
---

<section class="mt-20 border-t pt-10 bg-black pb-10">
	<h2 class="text-2xl font-semibold text-center mb-6">Nuestros Sponsors</h2>
	<div
		class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6 items-center justify-items-center container mx-auto px-4 sm:px-6 lg:px-8">
		{
			Object.values(logos).map((logo) => (
				<img
					src={logo.src}
					alt="Sponsor"
					class="h-16 object-contain opacity-80 hover:opacity-100 transition grayscale hover:grayscale-0 "
					loading="lazy"
				/>
			))
		}
	</div>
</section>
